@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* CSS Document */


body {
	background-color: #E9ECEF;
}

/* START OF NAV BAR */
#logo-img {
	width: 225px;
	height: 80px;
}
nav {
	background-color: #FEF5ED;
}	
.navbar li {
	letter-spacing: 2px;
}
.navbar a {
	font-family: 'josefin-slab';
	font-size: 1.5rem;
}
.nav-link {
	color: black!important;
	cursor: pointer;
}
.active, a:hover {
  color: #34BC34!important;
  background-color: transparent;
  text-decoration: none;
}
.dropdown-hover:hover .dropdown-toggle::after {
    border-bottom: 0.3em solid;
    border-top: 0;
}
.dropdown-hover.show .dropdown-toggle::after {
  border-bottom: 0.3em solid;
  border-top: 0;
}
/* END OF NAV BAR */

/* Start of Jumbotron */

.intro-section {
	background-color: #FEF5ED;
	padding-bottom: 100px;
}
.display-2--intro {
	font-size: 1.2em;
	font-weight: 300;
	font-family: Poppins, "Poppins Black", "Poppins ExtraBold", "Poppins ExtraLight", "Poppins Light", "Poppins Medium", "Poppins SemiBold", "Poppins Thin";
}
.lead {
	font-size: 24px;
	font-weight: 300;
	font-family: lato;
	text-align: center;
}
.img-fluid {
	transform: rotate(15deg);
	height: 320px;
	padding-left: 100px;
}
.img-fluid-2 {
	height: 320px;
	padding-left: 100px;
}
.honeyButton {
	padding-top: 55px;
}
.btn {
	position: relative;
    padding-right: 30px;
	padding-left: 30px;
	font-family: Poppins;
	font-weight: 450;
	background-color: #34BC34;
	border-radius: 50px;
	letter-spacing: 1px;
	color: white;
	font-size: 1.3rem;
}
.btn:hover {
	background: #EAEFF2!important;
	text-decoration: none;
	color: black!important;
}
/* END of Jumbotron */

/* Start of CONTENT */
.jumbotron {
	 background-image: url("../img/testy.svg");
	background-repeat: no-repeat;
}
.display-4 {
	text-transform: uppercase;
	z-index: 2;
}
.row {
	padding-top: 20px;
}
.col {
	padding-bottom: 20px;
}
.image {
	display: inline;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	z-index: 1;
}
.image-1{
	position: relative;
	display: inline;
	width: 250px;
	border-radius: 100%;
}
.image__img {
	display: inline;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	z-index: 1;
}
.image__overlay {
	position: absolute;
	top: -110px;
	left: 0;
	width: 100%;
	color: white;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 110px 0px 100px 0px;
	border-radius: 100%;
	
}
.image__overlay:hover {
	opacity: 1;
}
.image__title {
	font-size: 25px;
	font-weight: bold;
	color: #34BC34;
	cursor: pointer;
}
.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/* CARD TEST */
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  margin: -150px;
  float: left;
  perspective: 500px;
    border-radius: 100%;
	background: red;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 100%;

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: red;
  line-height: 225px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 100%;
  backface-visibility: hidden;
}

.back {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
}


/* background Image ish */


/* START OF OUR CORE VALUES CONTENT */


.container-1 {
	background-color: #FEF5ED;
}
h1 {
	text-transform: uppercase;
	font-family: 'josefin-slab';
	font-weight: 600;
}
.number {
	display: inline;
	font-family: "josefin-sans";
	font-style: italic;
	font-weight: 400;
	font-size: 4em;
}
h2 {
	display: inline;
	font-family: "josefin-sans";
	font-weight: 500;
	font-size: 2em;
	text-align: center;
}
.paragraph-1 {
	font-size: 1.2em;
	font-family: Poppins, "Poppins Black", "Poppins ExtraBold", "Poppins ExtraLight", "Poppins Light", "Poppins Medium", "Poppins SemiBold", "Poppins Thin";
	font-weight: 300;
	padding-bottom: 60px;
	
}

/* FOOTER START */

.footer {
	background-color: #E9ECEF;
	padding-bottom: 30px;
}
.lead-2 {
	font-size: 24px;
	font-weight: 500;
	font-family: lato;
	text-align: center;
	padding-top: 60px;
}
.heading-footer {
	text-align: center;
	font-family: 'josefin-slab';
	font-size: 20px;
	font-weight: 700;
}
.footer-text {
	text-align: center;
	font-size: 16px;
	font-family: lato;
	font-weight: 600;
	font-style: italic;
}

/* END OF OUR CORE VALUES CONTENT */

/* TEST */
@media screen and (max-width: 850px) {
	div.jumbotron{
		background-image: none;
		background-color: #EAEFF2;
		
	}
}
@media screen and (max-width: 777px) {
	.img-fluid {
		display: none;
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.paragraph {
		font-size: 14px;
	}
	
}
@media only screen and (min-width: 960px) {
	.dropdown-hover:hover .dropdown-hover-menu {
	  display: block;
	  margin-top: 0;
	}
}
